<style>
  .centerText {
    text-align: right;
    padding-right: 30px;
    position: relative;
    direction: rtl;
  }

  .numberToRight {
    position: absolute;
    right: 0;
    top: 0;
  }

  .sectionSub {
    text-align: right;
    padding-right: 45px;
    position: relative;
    direction: rtl;
    text-indent: 20px;
  }

  .numberToRightSub {
    position: absolute;
    right: 40;
    top: 0;
  }

  .sectionSubSub {
    text-align: right;
    padding-right: 85px;
    position: relative;
    direction: rtl;
    text-indent: 20px;
  }

  .headline {
    margin-top: 30px;
    display: flex;
  }
</style>
<div dir="rtl" style="font-family: David">
  <p dir="ltr" style="text-align: center; font-size: 15pt">
    <strong>חוזה שכירות בלתי מוגנת</strong>
  </p>
  <p style="text-align: center">
    שנערך ונחתם ביום בחודש ובשנת {תאריך}
    <br />
    בין
  </p>

  <p style="text-align: center">
    {ownerData.firstName} {ownerData.lastName}, ת.ז מספר{' '}
    {ownerData.personalId} , מרחוב {ownerData.streetAddress} , ב-{' '}
    {ownerData.cityAddress}
    <br />
    "להלן "בעל הדירה
  </p>

  <p style="text-align: left">מצד אחד</p>

  <p style="text-align: center">לבין</p>

  <p style="text-align: center">
    {tenantData.firstName} {tenantData.lastName}, ת.ז מספר{' '}
    {tenantData.personalId} , מרחוב {tenantData.streetAddress} , ב-{' '}
    {tenantData.cityAddress}
    <br />
    "להלן "השוכר
  </p>

  <p style="text-align: left">מצד שני</p>

  <p class="headline">
    <strong> 1. מבוא</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">1.1.</span>
    בעל הדירה הינו בעל הזכויות הרשום של דירה בת&nbsp;{apartment.rooms}
    &nbsp;חדרים על הצמדותה, המצויה בקומה&nbsp;{apartment.floor}, ברחוב{' '}
    {apartment.address}, בעיר {apartment.city}&nbsp;(להלן "הדירה").
  </p>

  <p class="sectionSub">
    <span class="numberToRight">1.2.</span>
    בעל הדירה מעוניין להשכיר את הדירה לשוכר, והשוכר מעוניין לשכור את הדירה מבעל
    הדירה בשכירות בלתי מוגנת, בכפוף לתנאים ולהתחייבויות המפורטים בחוזה זה להלן;
  </p>

  <p style="text-align: center; direction: 'rtl'">
    <strong>לפיכך מוסכם ומותנה בין הצדדים כי:</strong>
  </p>

  <p class="headline">
    <strong>2. הצהרות הצדדים</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">2.1.</span>
    בעל הדירה מצהיר כדלקמן:
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 2.1.1. </span>
    <span style="padding-left: 40px">
      כי לא העניק לצד שלישי זכות חזקה נוגדת על הדירה, כי אין כל מניעה חוקית
      לשימוש בדירה לצרכי מגורים ולהתקשרותו של בעל הדירה בחוזה זה.
    </span>
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 2.1.2. </span>
    <span style="padding-left: 40px">
      כי הדירה ראויה למגורים וכי הדירה נמסרת לשוכר כשהיא ריקה מכל אדם וחפץ, מלבד
      הפריטים המפורטים ברשימת התכולה המצורפת כנספח א' לחוזה זה (להלן: "רשימת
      תכולה") וכי התכולה היא חלק בלתי נפרד מן הדירה.
    </span>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">2.2.</span>
    השוכר מצהיר כדלקמן:
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 2.2.1. </span>
    <span style="padding-left: 40px">
      כי קרא והבין את הוראות חוזה זה וכי ראה ובדק את מצבה הפיזי של הדירה ומצא
      אותה במצבה כפי שהיא (As-Is) מתאימה למטרותיו ובמצב תקין וראוי לשימוש, בכפוף
      לפגמים המפורטים בפרוטוקול המצורף כנספח ב' לחוזה זה (להלן: "פרוטוקול מצב
      הדירה") והוא מוותר על כל טענה בקשר לכך.
    </span>
  </p>

  <p class="headline">
    <strong>3. מטרת השכירות</strong>
  </p>

  <p class="sectionSub">
    השוכר מתחייב כי בכל תקופת השכירות, השימוש אשר ייעשה בדירה (על כל חלקיה) יהיה
    למטרת מגורים בלבד.
  </p>

  <p class="headline">
    <strong>4. תקופת השכירות</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">4.1.</span>
    מוסכם על הצדדים כי תקופת השכירות בדירה תהיה בת {num of months} חודשים, כך
    שתחל ביום {startDate} ותסתיים ביום {end date} (להלן "תקופת השכירות").
  </p>

  <p class="headline">
    <strong>5. דמי שכירות</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">5.1.</span>
    עבור שכירת הדירה במהלך תקופת השכירות ישלם השוכר לבעל הדירה דמי שכירות {rent}
    ש"ח לחודש (להלן: "דמי השכירות"). דמי השכירות ישולמו כל {day of month for
    rent} לחודש.
  </p>

  <p class="sectionSub">
    <span class="numberToRight">5.2.</span>
    <strong>יש לבחור ולסמן אחת משתי החלופות: </strong>&nbsp;
  </p>

  {payment method}

  <p class="centerText">
    <span class="numberToRight">***</span>
    דמי השכירות ישולמו בהעברה בנקאית שתבוצע לחשבון בנק {name of bank} מספר {bank
    number} סניף {num of bank branch} ,בכל לחודש {day of month for rent} בתקופת
    השכירות.
  </p>

  <p class="centerText">
    <span class="numberToRight">***</span>
    השוכר יפקיד בידי בעל הדירה במעמד מסירת החזקה במושכר בהתאם להוראות הסכם זה
    {num of months} המחאות עבור כל אחד מ {num of months} חודשי השכירות. מוסכם על
    הצדדים כי רק פירעון בפועל של כל המחאה והמחאה, ייחשב כתשלום דמי השכירות (אלא
    אם לא תיפרע המחאה מחמת סיבה הקשורה בבעל הדירה).
  </p>

  <p class="headline">
    <strong>6. תקופת האופציה</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">6.1.</span>
    ניתנת בזאת לשוכר זכות ברירה (אופציה) להאריך את תקופת השכירות לתקופה נוספת
    אחת בלבד {OPTION_PERIOD_LENGTH} חודשים שתחל מיד עם תום תקופת השכירות (לעיל
    ולהלן: "תקופת האופציה").
  </p>

  <p class="sectionSub">
    <span class="numberToRight">6.4.</span>
    מימש השוכר את תקופת האופציה, יחולו כל הוראות חוזה זה כלשונן ובהתאמות
    המתחייבות גם בתקופת האופציה ובכל מקום בו נכתב תקופת השכירות בחוזה זה, הכוונה
    תהיה גם לתקופת האופציה. מובהר בזאת שבכל מקרה תקופת השכירות לפי חוזה זה,
    לרבות תקופת האופציה, לא תעלה על {max percentage increase} חודשים.
  </p>

  <p class="sectionSub">
    <span class="numberToRight">6.5.</span>
    מוסכם על הצדדים כי במידה שהשוכר לא מסר הודעה על מימוש תקופת האופציה במועד
    כאמור בסעיף 6.3.1, תסתיים תקופת השכירות במועד שנקבע בסעיף 4.1 ויחולו כל
    הוראות החוזה לגבי סיום חוזה זה, לרבות פינוי הדירה והחזרת החזקה לידי בעל
    הדירה.
  </p>

  <p class="headline">
    <strong>7. יידוע לקראת סוף תקופת האופציה</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">7.1.</span>
    בעל הדירה יודיע לשוכר בכתב 60 (שישים) ימים לפני תום תקופת האופציה, אם מומשה,
    האם בכוונתו להציע לשוכר את הדירה לתקופת שכירות נוספת ובאיזה תנאים.
  </p>

  <p class="sectionSub">
    <span class="numberToRight">7.2.</span>
    השוכר יודיע לבעל הדירה בכתב לא יאוחר מ-45 (ארבעים וחמישה) ימים לפני תום
    תקופת האופציה, אם מומשה, האם בכוונתו לקבל את הצעת בעל הדירה כאמור בסעיף 7.1
    לעיל.
  </p>

  <p class="headline">
    <strong>8. מיסים ותשלומים שוטפים</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">8.1.</span>
    בנוסף על דמי השכירות השוכר מתחייב:
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 8.1.1. </span>
    <span style="padding-left: 40px">
      לשאת בכל התשלומים השוטפים הנובעים משימוש שוטף בדירה, הכוללים בין היתר:
      חשמל, מים, ארנונה, גז וועד-בית (להלן: "התשלומים השוטפים").
    </span>
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 8.1.2. </span>
    <span style="padding-left: 40px">
      כי בתוך 30 ימים ממועד מסירת החזקה במושכר לידי השוכר, יעביר על שמו את
      החשבונות של התשלומים השוטפים החלים על הדירה, יעביר אסמכתא על כך לבעל הדירה
      וישאיר את רישום חשבונות אלו על שמו למשך כל תקופת השכירות.
    </span>
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 8.1.3. </span>
    <span style="padding-left: 40px">
      לשלם את כל התשלומים השוטפים במועד. בעל הדירה רשאי, אחרי שנתן לשוכר התראה
      בכתב לפחות 14 (ארבעה עשר) ימים מראש, לשלם במקום השוכר כל תשלום שוטף שלא
      שולם במועד. השוכר מתחייב להחזיר לבעל הדירה כל סכום ששולם לפי סעיף זה תוך
      זמן סביר ממועד דרישה ראשונה בכתב.
    </span>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">8.2.</span>
    בעל הדירה מתחייב:
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 8.2.1. </span>
    <span style="padding-left: 40px">
      לשאת בתשלום כל המיסים, האגרות וההיטלים והתשלומים אשר חלים על פי דין או
      מטבעם על בעל דירה.
    </span>
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 8.2.2. </span>
    <span style="padding-left: 40px">
      למען הסר ספק, תשלומים החורגים מתשלומי ועד בית השוטפים, והנדרשים ע"י ועד
      הבית לשם תחזוקת הבניין בו נמצאת הדירה יחולו על בעל הדירה.
    </span>
  </p>

  <p class="headline">
    <strong>9. תיקונים ושמירה על הדירה</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight">9.1.</span>
    השוכר מתחייב לשמור על הדירה במשך כל תקופת השכירות במצבה כפי שהצהיר בסעיף 2.2
    וכפי שמפורט בפרוטוקול מצב הדירה, זאת בכפוף לבלאי הנובע משימוש סביר.
  </p>

  <p class="sectionSub">
    <span class="numberToRight">9.2.</span>
    בעל הדירה מתחייב לתקן כל קלקול, תקלה או פגם בדירה ובמחובר אליה חיבור של קבע
    על חשבונו ואשר נגרמו כתוצאה מבלאי סביר, לרבות ומבלי לגרוע מכך, במערכות
    החשמל, האינסטלציה והמים, בדוד המים, במזגנים, בקירות הבית, בחלונות ובדלתות.
    התיקון יבוצע לא יאוחר מ {NUM_OF_DAYS_FOR_REPAIR} ימים ממועד הודעת השוכר על
    כך.
  </p>

  <p class="sectionSub">
    <span class="numberToRight">9.3.</span>
    על אף האמור בסעיף 9.2, אם מדובר בקלקול, תקלה או פגם שתיקונם דחוף (אינם
    מאפשרים מגורים בדירה באופן סביר), מתחייב בעל הדירה לתקנם באופן מיידי ובכל
    מקרה לא יאוחר מ-3 (שלושה) ימים ממועד הודעת השוכר על כך.
  </p>

  <p class="sectionSub">
    <span class="numberToRight">9.4.</span>
    מבלי להוריד מאחריות בעל הדירה, השוכר מתחייב לתקן כל תקלה או פגם שנגרמו לדירה
    ולמחובר אליה חיבור של קבע כתוצאה משימוש לא סביר או רשלני של השוכר.
  </p>

  <p class="sectionSub">
    <span class="numberToRight">9.5.</span>
    מוסכם על הצדדים כי, במידה שלא נכתב אחרת ברשימת התכולה המצורפת כנספח א', תחול
    האחריות לתיקון התכולה על בעל הדירה.
  </p>

  <p class="headline">
    <strong>10. שינויים בדירה</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 10.1. </span>
    השוכר מתחייב שלא לבצע כל שינוי פנימי או חיצוני בדירה, שלא להוסיף עליה כל
    תוספת, שלא להרוס כל חלק מהדירה או ממתקניה ושלא להרשות ולהתיר כל שינוי, תוספת
    או הריסה, אלא באישור מראש ובכתב של בעל הדירה.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 10.2. </span>
    במקרה בו השוכר יבצע שינויים בדירה למרות האמור בסעיף 10.1, ומבלי לגרוע מיתר
    זכויות בעל הדירה, יוכל בעל הדירה לבחור, לפי שיקול דעתו הבלעדי, אם לדרוש
    מהשוכר להחזיר את המצב בדירה לקדמותו על חשבון השוכר או להותיר את השינויים או
    התוספות בדירה והם יהפכו לרכושו של בעל הדירה מבלי שיהיה עליו לשלם תמורה על
    כך.
  </p>

  <p class="headline">
    <strong>11. ביטוח דירה</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 11.1. </span>
    בעל הדירה יערוך, יקיים ויישא בעלויות של פוליסת ביטוח לדירה אשר תכלול כיסוי
    למבנה הבניין וכל מערכותיו וזאת למשך כל תקופת השכירות. פוליסת הביטוח תכלול
    סעיף ויתור על זכות תחלוף (שיבוב) כלפי השוכר וכל הבא מטעמו. האחריות לעריכת
    ביטוח תכולה וצד ג' תחול על השוכר בלבד ולשיקול דעתו.
  </p>

  <p class="headline">
    <strong>12. העברת זכות השכירות בדירה אחרת</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 12.1. </span>
    ידוע לשוכר כי זכות השכירות שלו הינה אישית והוא מתחייב לא להעביר, לשעבד או
    למסור לאחר את זכויותיו לפי חוזה זה.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 12.2. </span>
    על אף האמור בסעיף 12.1, מוסכם כי בכפוף להסכמתו של בעל הדירה מראש ובכתב יהיה
    השוכר רשאי להעביר את זכות השכירות לאחר, וזאת בכפוף למציאת שוכר חלופי (להלן:
    "השוכר החלופי"). השוכר החלופי ייכנס לנעליו של השוכר בחוזה זה, יקבל על עצמו
    את כל התחייבויותיו למשך תקופת השכירות הנותרת ויפקיד בטחונות חלופיים זהים
    לאלו שהפקיד. כמו כן, השוכר החלופי ייכנס בנעלי השוכר ביחס לכל חובותיו
    והתחייבויותיו בקשר עם הנהלים ו/או הנחיות חברת WERENT ומחויב בזאת לחתום על כל
    מסמך ו/או לעמוד בהוראות תקנון החברה אשר יכול יעודכן מעת לעת. מוסכם על הצדדים
    כי בעל הדירה יהיה רשאי לסרב להעברת הזכויות לפי חוזה זה לידי השוכר החלופי
    וזאת מנימוקים סבירים.
  </p>

  <p class="headline">
    <strong>13. החזרת הדירה</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 13.1. </span>
    בתום תקופת השכירות, יהיה השוכר חייב למסור לבעל הדירה את הדירה כשהיא פנויה
    מכל אדם ומכל חפץ שאינו חלק מן התכולה, כשהיא במצבה כפי שהצהיר בסעיף 2.2, וזאת
    בכפוף לבלאי הנובע משימוש סביר.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 13.2. </span>
    13.2. מבלי לפגוע בהוראות סעיף 13.1 ו/או בזכויותיו של בעל הדירה עפ"י דין או
    הסכם, מוסכם כי במידה שהשוכר לא יפנה את הדירה כאמור בסעיף 13.1 לעיל, יהיה
    השוכר חייב לשלם לבעל הדירה עבור כל יום בו לא יפנה את הדירה, פיצוי מוסכם בסך
    השווה לפי-שלושה מדמי השכירות היומיים בהתאם לחוזה זה. הצדדים אומדים סכום זה
    כפיצוי סביר ביחס לנזק שניתן לראותו מראש כתוצאה מסתברת מאי קיום הוראות סעיף
    13.1 ע"י השוכר.
  </p>

  <p class="headline">
    <strong>14. הפרת חוזה</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 14.1. </span>
    מוסכם על הצדדים כי הוראות חוק החוזים (תרופות בשל הפרת חוזה), תשל"א-1970
    יחולו בכל הנוגע לחוזה זה.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 14.2. </span>
    מבלי לגרוע מן האמור לעיל, מוסכם על הצדדים כי ההפרות שלהלן יהוו הפרה יסודית
    של חוזה זה:
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 14.2.1. </span>
    <span style="padding-left: 40px"
      >עיכוב של מעל ל {NUM_OF_DAYS_PAYMENT_DELAY} ימים בתשלום דמי השכירות
      במלואם.</span
    >
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 14.2.2. </span>
    <span style="padding-left: 40px">
      אי פינוי הדירה בתום תקופת השכירות או האופציה אם מומשה בהתאם להוראות חוזה
      זה.
    </span>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 14.3. </span>
    מוסכם בין הצדדים כי במקרה שהשוכר יפר הפרה יסודית של חוזה זה ולא יתקן את
    ההפרה תוך {NUM_OF_DAYS_PAYMENT_DELAY} ימים מהיום שנדרש לעשות כן בכתב, תהיה
    לבעל הדירה זכות לבטל את החוזה ולדרוש מהשוכר לפנות מיד את הדירה ולהחזיר את
    החזקה בה לבעל הדירה כשהיא פנויה מכל אדם וחפץ שאינו שייך לבעל הדירה ובמצב כפי
    שהצהיר השוכר בסעיף 2.2.
  </p>

  <p class="headline">
    <strong>15. בטחונות</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 15.1. </span>
    השוכר מפקיד במעמד מסירת החזקה במושכר בידי בעל הדירה כנגד מסירת המפתח לשוכר
    את המסמכים כדלקמן:
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 15.1.1. </span>
    <span style="padding-left: 40px">
      שטר חוב חתום בנוסח המצורף לחוזה זה כנספח ד' לטובת בעל הדירה על סך של
      {PROMISSORY_NOTE_AMOUNT} שקלים חדשים (עד גובה של 6 חודשי שכירות)
    </span>
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 15.1.2. </span>
    <span style="padding-left: 40px">
      כתב ערבות חתום בנוסח המצורף לחוזה זה כנספח ג'. לכתב הערבות יצורף צילום
      תעודת זהות.
    </span>
  </p>

  <p class="sectionSubSub">
    <span class="numberToRightSub"> 15.1.3. </span>
    <span style="padding-left: 40px">
      {GUARANTEE} לטובת בעל הדירה בסך של {GUARANTEE_AMOUNT} (לא יותר מ- 3 חודשי
      שכירות) שתהיה בתוקף במהלך כל תקופת השכירות וכן במשך 30 (שלושים) ימים לאחר
      סיומה של תקופת השכירות.
    </span>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 15.2. </span>
    מוסכם על הצדדים כי בעל הדירה יהיה רשאי לעשות שימוש בבטחונות המפורטים בסעיף
    זה בכל מקרה של הפרה יסודית מצד השוכר וזאת בכפוף להתראה של 14 (ארבע-עשרה)
    ימים בכתב בה יודיע בעל הדירה על כוונתו ויאפשר לשוכר לתקן את ההפרה הנטענת.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 15.3. </span>
    בעל הדירה ישיב לשוכר את הביטחונות שהפקיד בידיו לפי סעיף 15.1 לא יאוחר מ-30
    (שלושים) ימים מתום תקופת השכירות, בכפוף להצגת אישורים על היעדר חובות בגין
    תשלומים שוטפים עבור תקופת השכירות.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 15.4. </span>
    15.4. יובהר כי במקרה של שוכרים-שותפים שיידרשו להמציא ערב כאמור בחלופה
    הראשונה בסעיף ‎15.1, ימציא כל אחד מהשוכרים-שותפים ערב אחד ובמקרה של הפרה,
    יעשה בעל הדירה שימוש ראשית בערבות עבור השותף המפר.
  </p>

  <p class="headline">
    <strong>16. אי-תחולת דיני הגנת הדייר</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 16.1. </span>
    השוכר מצהיר בזאת כי ידוע לו שהדירה הינה בגדר דירה פנויה מכל דייר הזכאי
    להחזיק בה לאחר תאריך כ"ו באב תשכ"ח 20 באוגוסט 1968 ולכן לא יחולו על שכירות
    זו הוראות חוק הגנת הדייר )נוסח משולב) תשל"ב – 1972 (להלן: "חוק הגנת הדייר")
    ו/או כל דין אחר אשר יבוא במקומו.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 16.2. </span>
    השוכר מצהיר ומסכים כי פרט לדמי השכירות לא שילם השוכר לבעל הדירה או לכל אדם
    אחר דמי מפתח או כל תמורה אחרת בגין השכירות וכי השוכר לא יהיה זכאי לדמי מפתח
    לצורך פינוי הדירה וכי אין לראות בכל תמורה שתשולם לפי חוזה זה כדמי מפתח.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 16.3. </span>
    השוכר מצהיר ומתחייב, כי כל השקעה שישקיע בדירה, ככל שישקיע ו/או כל שיפוץ
    שיערוך בדירה, אם יערוך, לא יקנו לו כל זכות כלשהי על פי חוק הגנת הדייר.
  </p>

  <p class="headline">
    <strong>17. כללי</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 17.1. </span>
    בעל הדירה יהיה רשאי למכור את זכויותיו בדירה, להעבירן לאחר, לשעבדן ולעשות בהן
    כל פעולה שימצא לנכון ללא צורך בהסכמת השוכר וזאת בתנאי שתישמרנה כל זכויות
    השוכר על פי חוזה זה לרבות ביחס לכל חובותיו והתחייבויותיו בקשר עם הנהלים ו/או
    הנחיות חברת WERENT, ובכללן זכות השכירות של השוכר בדירה. במקרה של מכירת או
    העברת זכויותיו של בעל הדירה לאחר, יודיע בעל הדירה על כך 21 ימים מראש ובכתב
    לשוכר לפני המועד בו עליו למסור את הדירה, ובהודעה יפרט את פרטי הרוכש ודרכי
    ההתקשרות עימו.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 17.2. </span>
    השוכר מתחייב שלא להכניס בעלי חיים למושכר ללא רשותו של בעל הדירה מראש ובכתב.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 17.3. </span>
    מוסכם בזאת כי על אף האמור בכל דין, חובות שהצדדים לחוזה חבים זה לזה בגין חוזה
    זה אינם ניתנים לקיזוז, אלא בהסכמה של הצדדים מראש ובכתב.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 17.4. </span>
    השוכר יאפשר לבעל הדירה ו/או לבא-כוחו, בתיאום מראש ובתדירות ושעות סבירים,
    להיכנס אל הדירה על מנת לוודא קיום הוראות חוזה זה, לבצע תיקונים ולהראותה
    לשוכרים או רוכשים פוטנציאליים.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 17.5. </span>
    מוסכם על הצדדים כי תנאי חוזה זה משקפים במלואם את ההסכמות בין הצדדים ומבטלים
    כל התקשרות, התחייבות, הבטחה וחוזה שנעשו, בכתב או בעל-פה, קודם לחתימת חוזה
    זה. עוד מוסכם ומותנה בין הצדדים כי כל שינוי ו/או תוספת לחוזה זה לא יהיה בר
    תוקף אלא אם נעשה בכתב ונחתם על ידי שני הצדדים.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 17.6. </span>
    כל ויתור, ארכה או הימנעות ממימוש זכות של צד לחוזה זה, לא ייחשב כוויתור של
    אותו צד על זכות ולא ימנעו ממנו תביעה עתידית לקיום התחייבות כלשהי של הצד האחר
    כלפיו.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 17.7. </span>
    כותרות סעיפי חוזה זה הוספו למען הנוחות בלבד ואין לתת להם משמעות פרשנית
    החורגת ממטרה זו.
  </p>

  <p class="headline">
    <strong>18. ויתור והסרת אחריות</strong>
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 18.1. </span>
    הואיל והסכם זה נחתם באופן דיגיטלי, מובהר ומוסכם בזאת כי אין על חברת WERENT
    כל אחריות לרבות ביחס לאימות וזיהוי הצדדים המתקשרים בהסכם זה וכי אלה מוותרים
    בזאת (לרבות מי מטעמם ו/או כאלה שייכנסו בנעליהם), באופן מלא, סופי, מוחלט,
    ובאופן בלתי מותנה ובלתי הדיר, על כל טענות, תלונות, דרישות ו/או תביעות, מכל
    מין וסוג שהם, כספיות ואחרות, כנגד WERENT ו/או כל מי שפעל או יפעל בשמם ו/או
    מטעמם לרבות מנהליהם ו/או עובדיהם.
  </p>

  <p class="sectionSub">
    <span class="numberToRight"> 18.2. </span>
    מבלי לגרוע מן האמור לעיל, מוסכם כי אין על חברת WERENT משום חובה לבדוק ו/או
    לאמת את האמור ברשימת התכולה (נספח א') ו/או את מצב הדירה (נספח ב') ו/או לבדוק
    את כשרותן ו/או תוקפן של הבטוחות כאמור בסעיף 15 לעיל.
  </p>
  <p
    dir="rtl"
    style="
      margin-top: 0pt;
      margin-right: 2.9pt;
      margin-bottom: 0pt;
      text-align: center;
      font-size: 11pt;
    "
  >
    <strong
      ><span style="font-family: David; color: #262626"
        >ולראיה באו הצדדים על החתום:</span
      ></strong
    >
  </p>
</div>
